<% @page_title = 'Authorization Denied' %>
<!-- <%= flash[:request_url] %> -->
<div id="auth-denied">
  <p>
    We&rsquo;re sorry, but your credentials do not allow you access to
    the page you requested.
  </p>
  <p>
    Please contact the webmaster at <%= mail_to webmaster_email %> if
    you believe you were improperly denied access.
  </p>
</div>
