<% @page_title = 'Page Not Found' %>
<!-- <%= request.url %> -->
<div id="dead-link">
  <p>
    We&rsquo;re sorry, the page you were looking for is not available.
  </p>
  <p>
    You may have mistyped the address or the page may have moved.
  </p>
  <p>
    If you got here by following a link on the <%= competition_name %> web
    site, please be aware that our error reporting system has noted the
    problem and our crack team of highly qualified administrators will
    investigate the issue as soon as they return from the pub.
  </p>
</div>
