<% @page_title = 'Authorization Denied' %>
<!-- <%= request.url %> -->
<div id="auth-denied">
  <p>
    We&rsquo;re sorry, but your credentials do not allow you access to
    the page you requested.
  </p>
  <p>
    Please contact the webmaster at <%= mail_to webmaster_email %>.
  </p>
</div>
