<% @page_title = 'Internal Server Error' %>
<!-- [<%= flash[:request_status] %>] <%= flash[:request_url] || request.url %> -->
<div id="internal-error">
  <p>
    We&rsquo;re sorry, but something&rsquo;s gone horribly wrong.
  </p>
  <p>
    We&rsquo;ve been notified of the problem and will take a look at it shortly.
  </p>
</div>
