<% @page_title = "#{competition_name} Awards" %>

<h2>Individual Awards</h2>

<p>
  Individual ribbons will be awarded to the first, second, and third place
  winner of each category. The judges have sole responsibility for
  determining if all of the ribbons in a particular category should be
  awarded, or if there are ties for a particular ribbon.
</p>

<h2>Best of Show</h2>

<p>
  Best of Show will be awarded from the judging of all first place entries.
</p>
