<% @page_title = 'Database Imports' %>

<ul id="import-menu" class="uncompacted">
  <li><%= link_to('Import Competition Database', admin_import_db_path) %></li>
  <li><%= link_to('Import BJCP Judge List', admin_import_judges_path) %></li>
</ul>
