<% @page_title = "#{competition_name} Imports" %>

<ul id="import-menu">
  <li><%= link_to('Import Competition Database', admin_import_db_path) %></li>
  <li><%= link_to('Import BJCP Judge List', admin_import_judges_path) %></li>
</ul>
