<% @page_title = "#{competition_name} Exports" %>

<ul id="export-menu">
  <li><%= link_to('Partial export to CSV', admin_export_path(:format => 'csv')) %></li>
  <li><%= link_to('Full export to YAML', admin_export_path(:format => 'yaml')) %></li>
</ul>
