<% dom_id ||= award_container_id(round_3_award)
   loading_indicator = flight_processing_div_id(round_3_award)
%>
<div class="flights-for-award" id="<%= dom_id %>-flights">
  <%= render :active_scaffold => '/admin/flights',
             :params => { :award => round_3_award.name },
             :constraints => { :award => round_3_award,
                               :round => Round.bos } -%>
</div>
