<% dom_id ||= award_container_id(round_2_award)
   loading_indicator = flight_processing_div_id(round_2_award)
%>
<div class="flights-for-award" id="<%= dom_id %>-flights">
  <%= render :active_scaffold => '/admin/flights',
             :params => { :award => round_2_award.name,
                          :award_id => round_2_award.id },
             :constraints => { :award => round_2_award,
                               :round => Round.second } -%>
</div>
