<table>
<% columns.each do |column| -%>
  <tr class="<%= cycle('even-record', 'odd-record') %>">
    <td class="column-name"><%= column.label.sub("*", "").strip -%></td>
    <td class="column-value"><%= column.name == :entrant ? link_to(get_column_value(@record, column), entrant_admin_entries_with_styleinfo_path(@record), :popup => true) : get_column_value(@record, column) -%></td>
  </tr>
<% end -%>
</table>
