<% @page_title = "First Time Entrant" %>

<p>
  This is an example of a special style category, separate from the standard
  BJCP styles. In this example, we have a first-time entrant category.
</p>

<p>
  The <em>First Time Entrant Award</em> is open to new entrants to the
  competition. This award is offered as an encouragement to new brewers to
  &ldquo;get their feet wet&rdquo; in competition and get some quality feedback
  on their brewing efforts.
</p>

<p>
  Entries in all standard BJCP categories and subcategories (1&ndash;28) are
  allowed. The BJCP category and subcategory, as well as any additional
  information that is required for the style, must be designated for proper
  judging.
</p>

