<% @page_title = "Special Style" %>

<p>
  This is an example of a special style category, separate from the standard
  BJCP styles. In this example, we&rsquo;re using an oldie-but-goodie,
  Malt Liquor.
</p>

<p>
  High in starting gravity and alcoholic strength, this style is somewhat
  diverse. Some American malt liquors are just slightly stronger than American
  lagers, while others approach bock strength. Some residual sweetness is
  perceived. Hop rates are very low, contributing little bitterness and
  virtually no hop aroma or flavor. Perception of sweet-fruity esters and
  complex alcohols (though not solvent-like) are acceptable at low levels.
  Chill haze and diacetyl should not be perceived.
</p>

<p>
  The style is best enjoyed in large clear bottles in brown paper bags, and
  when consumed near dumpsters. Extra authenticity points will be given for
  beer in 32&nbsp;oz. or larger bottles. Clear bottles and screwcaps are
  optional, but not required. (How the entrant seals screwcaps is up to the
  individual brewer.)
</p>

<p>
  Commercial examples include: Mickey&rsquo;s, King Cobra, Colt 45, and Olde
  English.
</p>

<p>
  <strong>Note:</strong> Entries will be judged in competition-provided brown
  paper bags by the nearest dumpsters. Judges will be seated in lawnchairs.
  This category does not count towards personal or club points and will not be
  considered for Best-of-Show. Therefore, only two bottles are required.
</p>

<table class="styletable">
  <tr>
    <td>Original Gravity</td>
    <td>1.050&ndash;1.060</td>
    <td>12.5&ndash;15.0 Plato</td>
  </tr>
  <tr>
    <td>Final Gravity</td>
    <td>1.004&ndash;1.010</td>
    <td>1.0&ndash;2.5 Plato</td>
  </tr>
  <tr>
    <td>Alcohol</td>
    <td>5.0&ndash;6.0% ABW</td>
    <td>6.25&ndash;7.5% ABV</td>
  </tr>
  <tr>
    <td>Bitterness</td>
    <td>12&ndash;23 IBU</td>
    <td></td>
  </tr>
  <tr>
    <td>Color</td>
    <td>2&ndash;5 SRM</td>
    <td>4&ndash;10 EBC</td>
  </tr>
</table>

