<div id="competition-organizer">
  <% unless competition_organizer.nil? %>
    The competition organizer is <%= competition_organizer -%>.
  <% else -%>
    No competition organizer has been defined.
  <% end -%>
</div>
