<% @page_title = "#{competition_name} Box Check" %>

<div id="print-box-check-report">
  <%= link_to_with_icon('Print box check report',
                        admin_box_check_path(:format => 'pdf'),
                        { :extname => '.pdf', :popup => true }) %>
</div>

<table class="reporttable" id="box-check-table">
  <thead>
    <tr class="table-header">
      <th colspan="2">Style</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="table-footer">
      <th colspan="2">&nbsp;</th>
    </tr>
  </tfoot>
  <tbody>
    <% @categories.each do |category|
       entries = Entry.find(:all,
                            :conditions => [ 'bottle_code is not null and style_id in (?)', category.awards.collect{|award| award.styles.map(&:id)}.flatten ],
                            :order => 'bottle_code ASC').collect{|e| "#{e.bottle_code}&nbsp;(#{e.style.category})"} -%>
      <tr class="category-header">
        <th><%= h("Category #{category.position} (#{category.name})") %></th>
        <th class="numeric"><%= entries.length %></th>
      </tr>
      <tr>
        <td><%= entries.join(', ') %></td>
        <td></td>
      </tr>
    <% end -%>
  </tbody>
</table>
