<% total_entries = clubs.inject(0){|sum,a| sum + a.entry_count.to_i} %>

<table class="reporttable">
  <thead>
    <tr class="table-header">
      <th>Club</th>
      <th class="numeric">Entries</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="table-footer">
      <th colspan="2">&nbsp;</th>
    </tr>
  </tfoot>
  <tbody>
    <%- if clubs.length > 0 -%>
      <%- clubs.each do |record| -%>
        <tr class="<%= cycle('even-record', 'odd-record') %>">
          <td><%= h record.name %></td>
          <td class="numeric"><%= record.entry_count %></td>
        </tr>
      <%- end -%>
      <tr class="total">
        <th>Total</th>
        <th class="numeric"><%= number_with_delimiter(total_entries) %></th>
      </tr>
    <%- else # This should only happen if there are no entries at all -%>
      <tr>
        <td colspan="3" align="center"><em>No club entries could be found</em></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
