<table class="reporttable">
  <thead>
    <tr class="table-header">
      <th>Name</th>
      <th>Club</th>
      <th class="numeric">Entries</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="table-footer">
      <th colspan="3">&nbsp;</th>
    </tr>
  </tfoot>
  <tbody>
    <%- if individuals.length > 0 -%>
      <%- individuals.each do |record| -%>
        <tr class="<%= cycle('even-record', 'odd-record') %>">
          <td><%= h record.name %></td>
          <td><%= h record.club.name %></td>
          <td class="numeric"><%= record.entry_count %></td>
        </tr>
      <%- end -%>
    <%- else -%>
      <tr>
        <td colspan="3" align="center"><em>No individual entries could be found</em></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
