<% @page_title = "#{competition_name} FAQ" %>
<% @page_header = "Frequently Asked Questions" %>

<% cache do %>

<p>
  This is the page for your competition's FAQ.
</p>

<div class="faq">
  <dl>
    <dt>
      I&rsquo;m unable to delete (or edit, or print a bottle label for)
      an entry I&rsquo;ve registered.  The link is inactive.  What&rsquo;s
      wrong?
    </dt>
    <dd>
      <p>
        If the link to delete, edit, or print a bottle label for an entry
        is inactive, it means that your entry has been received and checked
        in. Once this happens, you cannot delete the entry or change any
        information about it. It&rsquo;s also rather pointless to print a
        bottle label for such an entry, don&rsquo;t you think?
      </p>
      <p>
        If you sent your entries in early and you are still able to edit or
        delete some, or all, of them, don&rsquo;t panic. It just means that
        your entries have not yet completed the check-in process. Assuming,
        of course, that we actually received your entries.
      </p>
    </dd>
    <dt>
      Another FAQ
    </dt>
    <dd>
      Another response
    </dd>
  </dl>
</div>

<% end %>
