<% scope ||= nil
   options = form_element_input_options(column, scope,
                                        { :class => "text-input",
                                          :size => 76,
                                          :maxlength => 80 }) %>
<label for="<%= options[:id] %>">Address</label>
<%= text_field 'record', column.name, options %>
