<% scope ||= nil
   options = form_element_input_options(column, scope,
                                        { :class => "text-input",
                                          :size => 30,
                                          :maxlength => 60 }) %>
<label for="<%= options[:id] %>"><%= column.label %></label>
<%= text_field 'record', column.name, options %>
