<p>
  To add a new brewer (or brew team), click the <em>Add A Brewer</em> link.
  Select either an individual or team entry and fill out the form.  Click the
  <em>Create</em> button to save the brewer&rsquo;s data.
</p>
<p>
  To add, edit, or delete entries, or print individual bottle labels for an
  entry, click the <em>Edit Entries</em> link for the individual brewer (or team).
</p>
