<p>
  To add a new entry, click the <em>Add An Entry</em> link.
  Fill out the form, being sure to provide all information that is required
  for the style of beer, mead, or cider, you are entering. Click the
  <em>Create</em> button to save the entry.
</p>
<p>
  Once the entry has been saved, you can select the <em>Print</em> link to
  generate a set of bottle labels that you can then print and apply to your
  bottles. If you have multiple entries, you may prefer to click the
  <em>Download all bottle labels</em> link to download a PDF file containing the
  bottle labels for all of your entries rather than selecting the <em>Print</em>
  link for each individual entry.
</p>
