<% scope ||= nil
   options = form_element_input_options(column, scope) %>
<dl>
  <dt>
    <label for="<%= options[:id] %>">Grant Admin Privs</label>
  </dt>
  <dd>
    <%= check_box 'record', column.name, options %>
  </dd>
</dl>
