<div id="footer">
  <span id="copyright">
    Powered by <%= link_to('OpenBrewComp', 'http://www.crunchyfrog.net/openbrewcomp/') %>
  </span>
  <ul id="footlinks">
    <li class="firstlink"><%= link_to('News', news_path) %></li>
    <li class="lastlink"><%= link_to('Contact Us', contacts_path) %></li>
  </ul>
</div>
